.custom-button-close {
  .btn-close {
    position: absolute;
    right: 10px;
    &:hover {
      filter: brightness(0) saturate(100%) invert(32%) sepia(97%)
        saturate(7461%) hue-rotate(358deg) brightness(95%) contrast(107%);
    }
  }
}
Form{
    text-align: start;
}

.custom-form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.custom-form-row-last-check{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    .form-check-input{
        margin-right: 10px;
    }
}