/* CSS */
.adc {
  position: relative;
}
.custom-btn-add-user {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  right: 0;
  top: 0;
}

.custom-btn-add-user:active,
.custom-btn-add-user:focus {
  outline: none;
}

.custom-btn-add-user:hover {
  background-position: -20px -20px;
}

.custom-btn-add-user:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.custom-btn-edit-user {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  // box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 11px 21px;
  width: 80px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  i{
    font-size: 16px;
  }
}

.custom-btn-edit-user:active {
  background-color: #006ae8;
}

.custom-btn-edit-user:hover {
  background-color: #1fe5ff;
}

// .custom-btn-delete-user {
//   align-items: center;
//   appearance: button;
//   background-color: #ff4a25;
//   border-radius: 8px;
//   border-style: none;
//   box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
//   box-sizing: border-box;
//   color: #fff;
//   cursor: pointer;
//   font-family: "RM Neue",sans-serif;
//   font-size: 100%;
//   line-height: 1.15;
//   margin: 0;
//   padding: 10px 21px;
//   text-align: center;
//   text-transform: none;
//   transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .custom-btn-delete-user:active {
//   background-color: #006AE8;
// }

// .custom-btn-delete-user:hover {
//   background-color: #ffce53;
// }

.custom-btn-delete-user {
  width: 80px;
  height: 40px;
  border-radius: 10%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;

  &:hover {
    width: 80px;
    border-radius: 20px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }

  &:hover .svgIcon {
    width: 10px;
    margin-bottom: -5px;
    transition-duration: 0.3s;
    transform: translateY(70%);
  }

  &::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }

  &:hover::before {
    font-size: 10px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: 0.3s;
  }
}
.svgIcon {
  width: 14px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.custom-btn-delete-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
